<div class="header">
    <div class="header_con">
        <a href="/" class="logo left"><img src="img/logo_03.png" alt=""></a>
        <div class="channel right">
            <ul>
                <li><a href="/">首页</a></li>
                <li class="drap">
                    <a href="/notes">随笔<i></i></a>
                    <ul class="child_el">
                        <li><a href="javascript:void(0);">css</a></li>
                        <li><a href="javascript:void(0);">javascript</a></li>
                        <li><a href="javascript:void(0);">jquery</a></li>
                        <li><a href="javascript:void(0);">vue</a></li>
                        <li><a href="javascript:void(0);">NodeJS</a></li>
                        <li><a href="javascript:void(0);">移动端</a></li>
                        <li><a href="javascript:void(0);">微信小程序</a></li>
                        <li><a href="javascript:void(0);">其他</a></li>
                    </ul>
                </li>
                <li class="drap">
                    <a href="/information">文章<i></i></a>
                    <ul class="child_el">
                        <li><a href="javascript:void(0);">心情</a></li>
                        <li><a href="javascript:void(0);">社会</a></li>
                        <li><a href="javascript:void(0);">小说</a></li>
                    </ul>
                </li>
                <li><a href="/showreel">作品集</a></li>
                <li><a href="/album">相册</a></li>
                <li><a href="/music">音乐</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/message">留言</a></li>
            </ul>
        </div>
    </div>
</div>