<div class="header">
    <div class="header_con">
        <a href="/" class="logo left"><img src="/img/logo_03.png" alt=""></a>
        <div class="channel right">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/notes">随笔</a></li>
                <li><a href="/showreel">作品集</a></li>
                <li><a href="/album">相册</a></li>
                <li><a href="/music">音乐</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/message">留言</a></li>
            </ul>
        </div>
    </div>
</div>