<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/toast.css">
    <link rel="stylesheet" href="/css/pc/login.css">
    <title>落雨如画博客-用户登录</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="con_left">
            <div class="panel">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">主页</a><span class="divider">/</span></li>
                        <li class="active">登录</li>
                    </ul>
                </div>
                <div class="inner">
                    <form id="login_form" class="form-horizontal" action="javascript:void(0);" method="post">
                        <div class="control-group">
                            <label class="control-label" for="name">用户名</label>
                            <div class="controls">
                                <input class="input-xlarge" id="name" name="name" size="30" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="pass">密码</label>
                            <div class="controls">
                                <input class="input-xlarge" id="pass" name="pass" size="30" type="password">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="span-primary" value="登录" id="userLogin">
                            <a id="forgot_password" href="/searchPsw">忘记密码了?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript" src="/js/pc/toast.js"></script>
<script type="text/javascript">
    $('#userLogin').click(function () {
        if ($('#name').val() == '') {
            $.Toast('警告', '请输入用户名', 'error')
        } else if ($('#pass').val() == '') {
            $.Toast('警告', '请输入密码', 'error')
        } else {
            $.ajax({
                type: "POST",
                url: "/userLogin",
                data: {
                    name: $('#name').val(),
                    password: $('#pass').val()
                },
                success: function (data) {
                    if (data.msg == 0) {
                        $.Toast('警告', data.des, 'error');
                    } else {
                        $.Toast('成功', data.des, 'success');
                        setTimeout(function () {
                            window.location.href = '/';
                        }, 500);
                    }
                },
                error: function (err) {
                    console.log(err)
                    $.Toast('未知错误', '请联系管理员', 'error')
                }
            });
        }
    })
</script>
</html>