<div class="con_right right">
    <!--search-->
    <div class="mini_search public_side_wrap">
        <p class="public_title">站内搜索</p>
        <div class="search_in public_padding">
            <div class="search_in_con">
                <input type="text" class="left" id="keywords" value="" title="" placeholder="请输入随笔关键字" required
                       onkeyup="keyNum();">
                <i class="right" onclick="searchKeyword();"></i>
            </div>
        </div>
    </div>
    <!--music-->
    <div class="mini_music" style="margin-bottom: 20px;">音乐盒子</div>
    <!--user center-->
    <div class="user_center public_side_wrap">
        <p class="public_title">用户中心</p>
        <div class="user_form">

        </div>
    </div>
    <!--new notes-->
    <div class="new_information public_side_wrap">
        <p class="public_title">最新随笔</p>
        <ul>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>作者：落雨如画</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>作者：落雨如画</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>作者：落雨如画</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--new reply-->
    <div class="public_side_wrap new_reply">
        <p class="public_title">最新评论</p>
        <div class="new_reply_con">
            <div class="reply_item">
                <div class="reply_img left">
                    <img src="/static/upload/user/user.png" alt="">
                </div>
                <div class="right">
                    <div class="replyer">
                        <span>落雨如画</span>
                        <span>2018-02-03</span>
                    </div>
                    <a href="javascript:void(0);"><i></i>使用公共实例 组件之间传递数据 $on 多次触发</a>
                </div>
            </div>
            <div class="reply_item">
                <div class="reply_img left">
                    <img src="/static/upload/user/user.png" alt="">
                </div>
                <div class="right">
                    <div class="replyer">
                        <span>落雨如画</span>
                        <span>2018-02-03</span>
                    </div>
                    <a href="javascript:void(0);"><i></i>使用公共实例 组件之间传递数据 $on 多次触发</a>
                </div>
            </div>
            <div class="reply_item">
                <div class="reply_img left">
                    <img src="/static/upload/user/user.png" alt="">
                </div>
                <div class="right">
                    <div class="replyer">
                        <span>落雨如画</span>
                        <span>2018-02-03</span>
                    </div>
                    <a href="javascript:void(0);"><i></i>使用公共实例 组件之间传递数据 $on 多次触发</a>
                </div>
            </div>
        </div>
    </div>
    <!--page_views-->
    <div class="new_information public_side_wrap page_views">
        <p class="public_title">点击排行</p>
        <ul>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>浏览：45</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>浏览：45</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="inform_img left">
                    <img src="http://192.168.0.20:30001/static/upload/notes/1535428024619.png" alt="">
                </div>
                <div class="inform_right right">
                    <a href="javascript:void(0);">这样的话判断授权也是用不到了，我的思路：在需要获取用户信息的地方，先做个按</a>
                    <div class="inform_des">
                        <span>2018-08-31</span>
                        <span>浏览：45</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--tag wrap-->
    <div class="tag_list public_side_wrap">
        <p class="public_title">标签云</p>
        <ul class="tag_wrap public_padding">
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
        </ul>
    </div>
    <!--friend_link-->
    <div class="friend_link public_side_wrap">
        <div class="friend_link_title">
            <p>友情链接</p>
            <a href="javascript:void(0);">申请</a>
        </div>
        <ul class="friend_link_list public_padding">
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var searchInput = document.getElementById('keywords');

    searchInput.onkeyup = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
            searchKeyword();
        }
    }

    function searchKeyword() {
        var searchCon = document.getElementById('keywords').value;
        if (searchCon) {
            window.location.href = '/notes?search=' + searchCon;
        } else {
            alert('搜索内容不能为空，亲！');
        }
    }


</script>