/*公共样式*/

* {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: auto;
}

html,
body,
ul,
ol,
p,
div,
table,
tr,
td,
th,
select,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
video,
audio,
input,
a,
textarea {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

a {
    text-decoration: none;
}

input,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
}

a img {
    border: none;
}

li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

