/*公共样式*/

* {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: auto;
    background: #e9eaec;
    position: relative;
}

html,
body,
ul,
ol,
p,
div,
table,
tr,
td,
th,
select,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
video,
audio,
input,
a,
textarea {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}

a {
    text-decoration: none;
}

input,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
}

a img {
    border: none;
}

li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*public*/
.public_title {
    font-size: 14px;
    color: #666666;
    padding: 12px 12px 10px 33px;
}

.public_padding {
    padding: 10px;
}

.public_side_wrap {
    background: rgba(255, 255, 255, .9);
    margin-bottom: 20px;
}

