/*header*/
.header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px #D4D6D8;
    -webkit-box-shadow: 0 0 10px #D4D6D8;
    transition: all .5s linear 0s;
    -webkit-transition: all .5s linear 0s;
}

.header .header_con {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}

.header .header_con .logo {
    display: block;
    width: 170px;
    height: auto;
    vertical-align: middle;
}

.header .header_con .logo img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 15px;
}

.header_con .channel > ul > li {
    display: inline-block;
    position: relative;
}

.header_con .channel > ul > li a {
    width: 100px;
    display: block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    color: #2C9BD8;
    position: relative;
}

.header_con .channel > ul > li:hover > a {
    background: #f5f6f7;
}

.header_con .channel > ul > li:hover a i {
    transform: translateY(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) rotate(0deg);
}

/*footer*/
.footer {
    width: 100%;
    min-width: 1200px;
    background: #333a40;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    clear: both;
}

.footer > ul {
    width: 1200px;
    margin: 0 auto 5px;
    text-align: center;
}

.footer > ul li {
    display: inline-block;
}

.footer > ul li a {
    color: #93959a;
    font-size: 14px;
    margin: 0 20px;
    line-height: 40px;
}

.footer > p, .footer > p a {
    color: #93959a;
    font-size: 14px;
}

.footer > ul li a:hover {
    color: #fff;
}

.footer > p a:hover {
    color: #fff;
}