.content {
    margin-top: 30px;
}

.content .content_con {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.content .content_con .con_left .con_left_wrap {
    width: 754px;
    padding: 25px;
    background: #fff;
    overflow: hidden;
}

.con_left .notes_con img {
    width: auto;
    max-width: 100%;
    cursor: pointer;
}

/*notes title*/
.con_left .notes_title > h1 {
    color: #333;
    font-size: 22px;
    margin: 10px 0;
}

.con_left .notes_title ul {
    overflow: hidden;
    margin: 15px 0 20px;
}

.con_left .notes_title ul li {
    float: left;
    margin-right: 30px;
}

.con_left .notes_title ul li span, .con_left .notes_title ul li a {
    font-size: 14px;
    color: #333;
}

.con_left .notes_title ul li a:hover {
    color: #2C9BD8;
}

.con_left .notes_des {
    background: #f1eff0;
    padding: 12px;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 24px;
}

.detail_tag_list {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.detail_tag_list a {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    padding: 0 15px;
    border-radius: 8px 8px;
    margin: 5px;
}

.detail_tag_list a:first-of-type {
    color: #2C9BD8;
    border: 1px solid #2C9BD8;
}

.detail_tag_list a:nth-of-type(2) {
    color: #759b08;
    border: 1px solid #759b08;
}

.detail_tag_list a:nth-of-type(3) {
    color: #F8A8A8;
    border: 1px solid #F8A8A8;
}

.up_next {
    margin-top: 30px;
    background: #fff;
    padding: 10px 20px;
}

.up_next li {
    line-height: 30px;
}

.up_next li span {
    color: #939292;
    font-size: 14px;
    font-weight: 700;
}

.up_next li a {
    color: #333;
    font-size: 14px;
}

.up_next li a:hover {
    color: #2C9BD8;
    text-decoration: underline;
}

.copy_code {
    background: #fff;
    padding: 3px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: none;
}

.code-toolbar:hover .copy_code {
    display: block;
}

.likes {
    width: 764px;
    background-color: #fff;
    margin-top: 30px;
    padding: 18px 20px 22px;
}

.likes > p {
    color: #939292;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

.likes a {
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 1px 8px rgba(46, 143, 237, 0.3);
    -webkit-box-shadow: 0 1px 8px rgba(46, 143, 237, 0.3);
    padding: 10px 10px 6px;
    transition: all .35s linear 0s;
    -webkit-transition: all .35s linear 0s;
}

.likes a div {
    width: 165px;
    height: 100px;
    margin-bottom: 5px;
    overflow: hidden;
}

.likes a div img {
    display: block;
    width: 100%;
    height: 100%;
}

.likes a span {
    display: block;
    width: 170px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.likes a:hover {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
}

/*reply*/
.reply_title {
    margin-top: 30px;
    background: #fff;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}

.reply_title span, .reply_title a {
    font-size: 14px;
    color: #939292;
    line-height: 40px;
}

.reply_title span b {
    color: #2C9BD8;
}

.reply_title a {
    background: url("../../img/pc/comment.png") no-repeat left center;
    background-size: 18px 18px;
    padding-left: 23px;
}

.reply_title a:hover {
    background: url("../../img/pc/comment1.png") no-repeat left center;
    background-size: 18px 18px;
    color: #666;
}

/*reply_list*/
.reply_list {
    margin-top: 30px;
}

.reply_list > ul > li {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px 20px;
}

.user_circle_img {
    width: 43px;
    height: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    overflow: hidden;
}

.user_circle_img a, .user_circle_img a img {
    display: block;
    width: 100%;
    height: 100%;
}

.reply_list .reply_con {
    width: 695px;
}

.reply_con .reply_user {
    overflow: hidden;
}

.reply_con .reply_user span {
    margin-right: 10px;
    font-size: 14px;
    color: #666;
    float: left;
}

.reply_con .reply_user i {
    float: right;
    color: #9c6;
    font-size: 14px;
    margin-right: 2px;
    letter-spacing: 1px;
}

.reply_con .reply_user span:first-child, .reply_con .reply_user span:nth-of-type(4) {
    color: #2C9BD8;
}

.reply_con .reply_user span:first-child:hover, .reply_con .reply_user span:nth-of-type(4):hover {
    cursor: pointer;
}

.comment_con p {
    font-size: 16px;
    color: #333;
    line-height: 24px;
    padding: 10px 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.reply_con ul li {
    overflow: hidden;
    border-top: 1px dotted #eee;
    padding: 10px 0;
}

.reply_list ul li ul li .reply_con {
    width: 627px;
}

/*comment*/
.comment_wrap {
    width: 804px;
    margin-top: 30px;
}

.comment {
    width: 100%;
    height: auto;
}

.comment .content {
    width: 90%;
}

.cont-box {
    width: 100%;
    height: 150px;
    background: #fff;
}

.cont-box .text {
    width: 96.6%;
    height: 86.9%;
    padding: 8px 12px;
    color: #666;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    resize: none;
    border: 1px solid transparent;
    outline: 0;
}

.cont-box .text:focus {
    border: 1px solid #9c6;
    box-shadow: 0 0 5px #9c6;
}

.tools-box {
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

.tools-box .operator-box-btn {
    width: 85%;
    height: 30px;
    float: left
}

.tools-box .operator-box-btn .face-icon {
    display: block;
    float: left;
    margin-top: -1px;
    margin-left: 10px;
    font-family: 微软雅黑;
    font-size: 22px;
    color: #9c6;
    cursor: pointer
}

.tools-box .operator-box-btn .img-icon {
    display: block;
    float: left;
    margin-top: -8px;
    margin-left: 10px;
    font-family: 'Microsoft Yahei';
    font-size: 33px;
    font-weight: lighter;
    color: #9c6;
    cursor: pointer
}

.tools-box .submit-btn {
    width: 15%;
    height: 30px;
    float: right
}

.tools-box .submit-btn input {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #9c6
}