/*content*/
.content {
    width: 100%;
    padding-top: 30px;
}

.content .content_con {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*con_left*/
.con_left {
    width: 804px;
}

.con_left .notes_num {
    background: #fff;
    font-size: 14px;
    padding: 15px 15px 15px 37px;
    background: #fff url("../../img/pc/list.png") no-repeat 15px center;
    background-size: auto;
    color: #2C9BD8;
    box-shadow: 0 0 8px rgba(46, 143, 237, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(46, 143, 237, 0.3);
}

.con_left .notes_num b {
    margin: 0 2px;
}

.con_left .notes_num span {
    margin-left: 20px;
}

.notes .notes_item .thumb_img {
    width: 190px;
    height: 120px;
}

.notes .find_null {
    text-align: center;
}

.notes .notes_item {
    background: #fff;
    height: 120px;
    margin-top: 20px;
    padding: 20px;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
}

.notes .notes_item:hover {
    box-shadow: 0 1px 8px rgba(46, 143, 237, 0.3);
    transform: translate(-2px, -5px);
    -webkit-transform: translate(-2px, -5px);
}

.notes .notes_item .thumb_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.notes .notes_item .notes_con {
    width: 550px;
    height: 100%;
    position: relative;
}

.notes .notes_item .notes_con > a {
    display: block;
    padding: 2px 5px 2px 0;
}

.notes .notes_item .notes_con a:hover b {
    color: #2C9BD8;
}

.notes .notes_item .notes_con a:hover p {
    text-decoration: underline;
}

.notes .notes_item .notes_con a b {
    display: block;
    color: #333333;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
}

.notes .notes_item .notes_con a p {
    color: #666666;
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
}

.notes_con .tags {
    overflow: hidden;
    color: #838383;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.notes_con .tags span {
    margin: 0 10px 0 0;
    padding-left: 20px;
    font-size: 12px;
}

.notes_con .tags span a {
    color: #759b08;
    margin: 0px 3px;
}

.notes_con .tags span a:hover {
    text-decoration: underline
}

.lm {
    background: url(../../img/pc/newsbg01.png) no-repeat left center;
}

.create_time {
    background: url(../../img/pc/create_time.png) no-repeat left center;
}

.page_view {
    background: url(../../img/pc/newsbg04.png) no-repeat left center;
}

.reply_num {
    background: url(../../img/pc/newsbg03.png) no-repeat left center;
}

.author_icon {
    background: url(../../img/pc/author.png) no-repeat left center;
    background-size: 21px;
    cursor: pointer;
}

.tit01 h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px
}

/*pagination*/
.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 40px;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 14px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.pagination li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}

.pagination li:last-child a {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}

.pagination a {
    border-color: #ddd;
    color: #4285F4;
    background: #fff;
}

.pagination a:hover {
    background: #eee;
}

.pagination a.active, .pagination a:active {
    border-color: #4285F4;
    background: #4285F4;
    color: #fff;
}